body {
    background-color: #FFFFFF ;
    font-family: Arial, sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    }

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

header {
    color: white;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

h2 {
    font-size: 2rem;
    margin-top: 40px;
    margin-bottom: 10px;
}

h3 {
    font-size: 1.5rem;
    margin-top: 30px;
    margin-bottom: 10px;
}

p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 20px;
}

ul, ol {
    margin: 0;
    margin-bottom: 20px;
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}

a {
    color: steelblue;
    text-decoration: none;
}
        
footer {
    background-color: #000000;
    color: #ffffff;
    padding: 20px;
    font-size: 16px;
}

.footer-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.personal-links,
    .about-section {
    width: 45%;
}

.about-section {
    text-align: left;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}
